<mat-sidenav-container class="lighttable-sidenav-container">
  <mat-sidenav mode="side" position="start" opened="true" class="saga-sidenav-dimensions">

    <lighttable-left-panel></lighttable-left-panel>
  </mat-sidenav>

  <mat-sidenav mode="side" position="end" opened="true" class="saga-sidenav-dimensions">

    <lighttable-right-panel></lighttable-right-panel>

  </mat-sidenav>
  <mat-sidenav-content>
     <lighttable-center-panel></lighttable-center-panel>
  </mat-sidenav-content>
</mat-sidenav-container>





