.center-column{
  text-align: center;
  row-gap: 25px;
}


.queryBarBackingCard{
  display: inline-flex;
  gap: 30px;
  width: 500px;
  height: 55px;
}


.imgGrid{

  margin-top: 35px;
  margin-left: auto;
  display: inline-block;
  column-count: 4;
}

