<mat-toolbar>
  <span>Saga</span>
  <span class="example-spacer"></span>

  <button mat-button>Lighttable</button>

  <mat-divider vertical="true" class="appbar-page-select-divider"></mat-divider>

  <button mat-button>Automation</button>

  <mat-divider vertical="true" class="appbar-page-select-divider"></mat-divider>

  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <mat-divider vertical="true" class="appbar-page-select-divider"></mat-divider>
</mat-toolbar>


<router-outlet></router-outlet>
