<mat-card class="commit-card-header-card">
  <span>
    <h3 matSubheader>
      {{this.currentDirectory}}
    </h3>


    <button mat-icon-button
            (click)="fetchParent(this.currentDirectory)"
    >
      <mat-icon>expand_less</mat-icon>
    </button>

  </span>



  <mat-card-footer>
    <button mat-button
            (click)="submitCommitOp()"
    >
      <label>Commit selected</label>
    </button>
  </mat-card-footer>
</mat-card>

  <mat-selection-list
  [(ngModel)]="fileNameSelections"
  dense
  >
    <mat-list-item *ngFor="let dirIdxPair of this.displayDirectories">
      <mat-icon matListIcon>folder</mat-icon>
      <button mat-button
      (click)="fetchChildren(buildFullPath(this.childDirectories[dirIdxPair[1]]))">
        <label>{{dirIdxPair[0]}}</label>
      </button>
    </mat-list-item>

    <mat-list-option *ngFor="let fileNameIdxPair of this.displayFiles"
    [value]="this.childFiles[fileNameIdxPair[1]]"
    >
      {{fileNameIdxPair[0]}}
    </mat-list-option>

  </mat-selection-list>



