<mat-card class="metadata-card">

  <mat-card-content>
    <table class="metadata-table">
      <tr>
        <td class="metadata-row">name: {{name}}</td>
        <td class="metadata-row">date: {{date}}</td>
      </tr>
      <tr>
        <td class="metadata-row">model: {{model}}</td>
        <td class="metadata-row">focal length: {{focalLength}}</td>
      </tr>

      <tr>
        <td class="metadata-row">f-stop: {{fnumber}}</td>
        <td class="metadata-row">shutter speed: {{shutterSpeed}}</td>
      </tr>
    </table>

  </mat-card-content>



</mat-card>
